<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JuegoDeMemoria.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FBD423331DD2A3C80079FF8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBD423471DD2A3C80079FF8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBD423521DD2A3C80079FF8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
